@use '../../globals/global-styles.scss' as *;

.contact-us {
  background-color: black;
  color: white;
  display: flex;

  .contact-us-body{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2 {
      text-align: left;
      font-weight: 700;
      font-size: 3em;
    }
    .contact-us-content {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 1em;
      h3 {
        font-size: 2em;
      }
      p{
        font-size: 1.5em;
      }
    }
  }
  .svg-image {
    width: 50%;
    display: grid;
    place-items: center;
  }
}


@media screen and (max-width: $md) {
  
  .contact-us {
    font-size: .8rem;
    .contact-us-body{
      width: 100%;
      .svg-image {
        width: 100%;
      }
    }
  }
}