@use '../../globals/landing-hero-bg.scss' as *;
@use '../../globals/global-styles.scss' as *;

.landing-hero {
  min-height: 100vh;
  background-color: $landing-hero-bg-color; 
  background-image: $landing-hero-bg-image;
  padding-top: $landing-pt;
  font-family: 'Hero Light', sans-serif;
}