@use '../../globals/global-styles.scss' as *;

$navbar-top : 1.5rem;

.navbar {
  position: sticky;
  top: $navbar-top;
  background-color: $light-gray;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: .3rem $desktop-x-padding;


  @media screen and (max-width : $sm) {
    background: black;
    color: white;
  }

  .navlinks {
    flex: 1;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    // background-color: aqua;

    a {
      transition: all .1s ease;
      font-weight: 500;
    }
    :not(.active){
      color: $light-gray-2;
    }
    .active {
      color: $black;
    }
  }
}

.drawerlinks {
  margin: $navbar-top .5rem 0 .5rem;
}